{erl_opts, [debug_info]}.
{deps, []}.

{eunit_opts, [verbose]}.

{profiles, [
  {docs, [
    {plugins, [rebar3_ex_doc]},
    {ex_doc, [
      {main, "README.md"},
      {extras, [
        "README.md"
      ]},
      {output, "_build/docs/site"},
      {source_url, "https://github.com/erlangsters/book-storage"}
    ]}
  ]}
]}.
